<!DOCTYPE html>
<html lang="en" ng-app="portalApp">
    <head>
        <title>Home page</title>
        <meta charset="UTF-8">
        <link href="stylesheets/style.css" rel="stylesheet">
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
    </head>
    <body ng-controller="mainController">
        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Angular Routing Example</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/"> Home</a></li>
                    <!--<li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
                    <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>-->
                </ul>
            </div>
            </nav>
        </header>

        <div id="main">
            {{clients}}
            <ng-view></ng-view>
        </div>
        <script src="javascripts/script.js"></script>
    </body>
</html>